<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Datastore Emulator Viewer</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-red.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

{{ if .DarkMode }}

  {{ $back  := "#161b22" }}
  {{ $text  := "#cccccc" }}
  {{ $hover := "#222222" }}

    <!-- DarkMode -->
    <style>
      .mdl-color--grey-100 {
        background:{{$back}} !important; 
      }

      .material-icons {
        color:{{$text}} !important;
      }
      .mdl-color-text--grey-600 {
        color:{{$text}} !important;
      }
      .mdl-data-table th {
        color:{{$text}} !important;
      }

      li.kind-name.selected {
        background-color:{{$hover}};
      }
      li.kind-name:hover {
        background:{{$hover}} !important; 
      }
      .mdl-data-table tbody tr:hover td{
        background:{{$hover}} !important; 
      }
      .mdl-data-table tbody tr:hover {
        background:{{$hover}} !important; 
      }
    </style>
{{ end }}

  </head>
  <body>

    <div id="menu" class="layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">

        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{ .Title }}</span>

          <div id="ns-dropdown" class="dropdown" style="width:140px;">
            <div id="nsLabel" class="mdl-color-text--grey-600">Namespace:</div>
            <span id="ns-text" class="mdl-color-text--grey-600">{{ .Current.Namespace }}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="nsBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Namespace</span>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="nsBtn">
{{ range .Namespaces }}
              <li class="mdl-menu__item ns-list">{{ . }}</li>
{{ end }}
            </ul>
          </div>

          <div class="mdl-layout-spacer"></div>

        </div>

      </header>

      <div class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

        <header class="drawer-header">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="darkmode">
            <input type="checkbox" id="darkmode" class="mdl-switch__input" {{if .DarkMode }}checked{{end}}>
            <span class="mdl-switch__label">DarkMode</span>
          </label>
        </header>

        <nav class="navigation mdl-navigation mdl-color--blue-grey-800">

{{ range .Projects }}
          <div class="mdl-navigation__link">
            <a class="project-link" href="/{{.ID}}/">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forward</i>{{.Endpoint}}[{{ .ProjectID }}]
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons remove-project" data-id="{{.ID}}">remove_circle</i>
          </div>
{{ end }}

          <a class="mdl-navigation__link" id="registerProject"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add_circle</i>New Project</a>

          <div class="mdl-layout-spacer"></div>

          <a class="mdl-navigation__link" href="https://github.com/secondarykey/dem"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>

        </nav>
      </div>

      <main class="mdl-layout__content mdl-color--grey-100">

        {{ template "content" . }}

      </main>
    </div>


    <dialog id="confirmDialog" class="mdl-dialog">
      <h4 class="mdl-dialog__title" id="confirmTitle"></h4>
      <div id="confirmMessage"></div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button yes">Yes</button>
        <button type="button" class="mdl-button no">No</button>
      </div>
    </dialog>

    <dialog id="alertDialog" class="mdl-dialog">
      <h4 class="mdl-dialog__title" id="alertTitle"></h4>
      <div id="alertMessage"></div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button ok">OK</button>
      </div>
    </dialog>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/assets/js/dem.js"></script>

  </body>
</html>
